.project-type-select {
  display: flex;
  width: 100%;
  justify-content: center;
}

.project-type-select li {
  margin: 0 50px;
  font-size: 32px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.project-type-select li:hover {
  transform: scale(1.2);
}

.project-type-select li.selected {
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (max-width: 650px) {
  .project-type-select li {
    font-size: 18px;
    margin: 0 15px;
  }
  .project-type-select li:hover {
    font-size: 18px;
  }
}
