.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  justify-content: space-evenly;
  list-style-type: none;
  padding: 56px 0px;
  position: relative;
  border-radius: 25px;
  grid-gap: 50px;
  margin: 100px;
}

.media img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  transform: scale(1);
  aspect-ratio: 4/3;
  position: relative;
  border-radius: 15px;
  box-shadow: 20px 10px 5px rgb(29, 27, 27);
  transition: transform 0.2s ease-in-out;
}

.media img:hover {
  transform: scale(1.1);
}

.media h3 {
  font-size: 36px;
  margin: 5px 0;
}

.media p {
  font-size: 24px;
}
