.icon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon-list .icon {
  margin: 10px;
}

.icon img {
  width: 64px;
  transform: scale(1);
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: grayscale(10%);
  transition: width 0.2s ease-in-out;
}

.icon img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

.icon img.reverse-color {
  filter: invert(1);
}
