#main-section {
  margin-top: 100px;
  padding: 0px 100px;
  overflow: hidden;
}

#main-section h1 {
  color: #c5c5c5;
  font-size: 78px;
  font-weight: normal;
  margin: 10px 0;
}

#main-section h1 .highlight {
  font-weight: bold;
  font-size: 108px;
  margin-left: 100px;
}

#main-section h2 {
  color: #dcc19e;
  font-size: 64px;
}

.bio {
  display: flex;
  justify-content: space-around;
}

.bio section {
  width: 60%;
}

.bio p {
  font-size: 32px;
  margin-right: 100px;
}

.profile-img {
  width: 30%;
  height: 600px;
}

.profile-img img {
  max-width: 388px;
  opacity: 0;
  animation: appear 0.7s 1s linear alternate;
  animation-fill-mode: forwards;
}

.profile-img .bg-sphere {
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  z-index: -1;
}

.profile-img .bg-sphere.big {
  width: 501px;
  background-color: #827264;
  right: 20px;
  top: -100%;
  animation: bg-sphere-big-appear 1.5s 0s linear alternate;
  animation-fill-mode: forwards;
}

.profile-img .bg-sphere.small {
  width: 391px;
  background-color: #c9c0c0;
  top: -150%;
  right: 100px;
  animation: bg-sphere-small-appear 1.5s 0s linear alternate;
  animation-fill-mode: forwards;
}

@keyframes bg-sphere-big-appear {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    width: 200px;
  }
  50% {
    animation-timing-function: ease;
    opacity: 1;
    width: 540px;
  }
  100% {
    animation-timing-function: ease;
    width: 501px;
  }
}

@keyframes bg-sphere-small-appear {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    width: 200px;
  }
  70% {
    animation-timing-function: ease;
    opacity: 1;
    width: 420px;
  }
  100% {
    animation-timing-function: ease;
    width: 391px;
  }
}

@keyframes appear {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  100% {
    animation-timing-function: ease;
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .bio {
    flex-direction: column-reverse;
    align-items: center;
  }
  .bio section {
    width: 100%;
  }

  .profile-img {
    width: 100%;
    max-width: 338px;
  }
  #main-section h1 {
    margin-bottom: 50px;
  }

  .bio p {
    margin-right: 0;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 650px) {
  #main-section h1 {
    font-size: 48px;
  }
  #main-section h1 .highlight {
    font-size: 72px;
    margin-left: 0;
    text-align: right;
    display: block;
    width: 100%;
  }
  #main-section {
    padding: 0px 30px;
  }
}
