* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-color: #232323;
  color: white;
}

.section-title {
  font-size: 64px;
  width: 100%;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.section-title::before {
  content: "";
  display: block;

  width: 75%;
  aspect-ratio: 2/1;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  background-color: #5a4e43;
  z-index: -1;
  transform: translate(-50%, -100px);
}
